USE [master]
GO
/****** Object:  Database [AirlineReservation]    Script Date: 2026-04-10 10:41:41 AM ******/
CREATE DATABASE [AirlineReservation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AirlineReservation', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\AirlineReservation.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AirlineReservation_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\AirlineReservation_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AirlineReservation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AirlineReservation]
GO
/****** Object:  Table [dbo].[Airline]    Script Date: 2026-04-10 10:41:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Airline](
	[airline_id] [bigint] NOT NULL,
	[name] [varchar](100) NOT NULL,
	[iata_code] [varchar](10) NOT NULL,
	[headquarters] [varchar](100) NULL,
	[established_year] [int] NULL,
	[country] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[airline_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[airports]    Script Date: 2026-04-10 10:41:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[airports](
	[airport_code] [varchar](10) NOT NULL,
	[airport_name] [varchar](100) NULL,
	[city] [varchar](50) NULL,
	[country] [varchar](50) NULL,
	[tax] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[airport_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[booking]    Script Date: 2026-04-10 10:41:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking](
	[booking_number] [int] NOT NULL,
	[customer_id] [int] NULL,
	[flight_id] [varchar](10) NULL,
	[booking_city] [varchar](10) NULL,
	[class] [varchar](10) NULL,
	[status] [varchar](10) NULL,
	[total_price] [varchar](10) NULL,
	[payment_amount] [decimal](10, 2) NULL,
	[total_balance] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[booking_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CancelledBooking]    Script Date: 2026-04-10 10:41:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CancelledBooking](
	[cancelled_booking_id] [bigint] NOT NULL,
	[booking_] [int] NOT NULL,
	[cancelled_at] [datetime] NOT NULL,
	[cancelled_by] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[cancelled_booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CITY]    Script Date: 2026-04-10 10:41:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITY](
	[city_id] [varchar](10) NOT NULL,
	[name] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[city_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[currency_exchange]    Script Date: 2026-04-10 10:41:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[currency_exchange](
	[from_currency] [varchar](10) NOT NULL,
	[to_currency] [varchar](10) NOT NULL,
	[exchange_rate] [decimal](10, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[from_currency] ASC,
	[to_currency] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 2026-04-10 10:41:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[customer_id] [int] NOT NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[phone_number] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[country] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flights]    Script Date: 2026-04-10 10:41:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flights](
	[flight_number] [varchar](20) NOT NULL,
	[origin] [varchar](10) NULL,
	[destination] [varchar](10) NULL,
	[departure_time] [datetime] NULL,
	[arrival_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[flight_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[booking]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([customer_id])
GO
ALTER TABLE [dbo].[CancelledBooking]  WITH CHECK ADD FOREIGN KEY([booking_])
REFERENCES [dbo].[booking] ([booking_number])
GO
ALTER TABLE [dbo].[flights]  WITH CHECK ADD FOREIGN KEY([destination])
REFERENCES [dbo].[airports] ([airport_code])
GO
ALTER TABLE [dbo].[flights]  WITH CHECK ADD FOREIGN KEY([origin])
REFERENCES [dbo].[airports] ([airport_code])
GO
USE [master]
GO
